body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #67655d;
    background-color: #fff;
    margin-left: 30px;
}

.greeting {
    font-size: 30px;
}

.sub-greeting {
    font-size: 20px;
}

.result .count {
    text-align: right;
    font-weight: bold;
}

#piechart {
    width: 900px;
    height: 500px;
}

#statistics {
    display: flex;
}

#patients_div {
    min-width: 600px;
    height: 400px;
    overflow-y: scroll;
}

#timeline_wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 800px;
}

.important-red {
    color: crimson;
}

.hidden {
    display: none !important;
}

p {
    margin-top: 50px;
}